body {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.73);
    font-family: 'Concert One', cursive;

}

ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #262626;
}

img {
    display: block;
}
h2, h3{
    color:  #262626;
}

P {
    color: #857b81;
    font-size: 16px;
   
}

h1 {
    margin-top: 30px;
    margin-bottom: 25px;
}

.contacts li {
margin-bottom: 10px;
}
.contacts-item a:hover{
    color: darkblue;
    transition: 250ms;

}
.t-me {
    color:  #0088cc ;
}
.container {
    display: flex;
}

.project-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}




.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 60px;
    color:#262626;
    
    transition: 250ms;
}

.logo-primary {
    color: #2196f3;
}

.logo-barber{
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #262626;
    
    transition: 250ms;
}

.logo:hover {
    color:#000;
}

.logo-barber:hover{
    color:#000;
}

.project-list li {
    transition: 250ms;
}

.project-list li:hover {
    transform: scale(1.1);
}

aside {
    width: 340px;
    padding: 30px 15px ;
    background-color: #f0f0f0;
}

main {
 padding: 60px;
}

h2 {
    margin-top: 32px;
    margin-bottom: 25px; 
    display: inline-flex;
    align-items: center;
}

 h2::before {
    content: '';
    width: 20px;
    height: 4px;
    margin-right: 10px;
    background-color: #b31515;
    border-radius: 1px;    
}

h3 {
    font-weight: 500;
}

.skills li {
    list-style: disc;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #b31515
}

.list-item {
    font-size: 19px;
    font-weight: 500;

    color: #262626;
    
}



